* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('image/1325451.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto; /* Pour supprimer les marges par défaut du corps */
    padding: 63px; /* Pour supprimer les rembourrages par défaut du corps */
}


.login-container {
    width: 300px;
    margin: 200px auto;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

h3 {
    text-align: center;
    margin-bottom: 100px;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ffffff;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}


.clickable-image {
    max-width: 300px;
    max-height: 200px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}

#score-increment-button {
    cursor: pointer;
}